html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #980B0A;
}

body{
  display: block;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
}
/* 
.vertical-center {
  height: 100%; 
  /* width:100%; 
  display: flex;
  align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} */

.container {
  height: 100%;
  padding: 0 10%;
}

.btn:focus{
  box-shadow: none;
}

/* .img-size{
  width: 30em;
  height: auto;
  
} */

a.btn{
  height: 100%;
  width: 100%;
  background-image: url(../img/call-button.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block !important;
}

a, a:hover, a:active, a:focus, a:visited {
  outline: 0;
}

@media screen and (max-width: 425px) {
    .img-size {
        width: 15em;
        height:auto;
    }
}